.category-wrapper {
  filter: drop-shadow(5px 5px 10px $color-blue-dark);
  margin-left: 19px;
  margin-bottom: 30px;
}

.category {
  width: 200px;
  height: 200px;
  background-color: $color-light-blue;
}

.category__title {
  padding: 15px 20px 15px 20px;
  text-align: center;
  line-height: 13;
}

.category__title a {
  font-family: $font-gilroy-extrabold;
  color: $color-blue-dark;
  text-decoration: none;
}

