.content {
  width: 100%;
  background: url('#{$path}/content-layout.png') bottom center repeat-x, rgba(255,255,255,1);
}

.content-wrapper {
  overflow: visible;
  margin-top: -160px;
}

.content-cart-wrapper {
  overflow: visible;
  margin-top: -70px;
  min-height: 400px;
}

.content-button--margin {
  margin-top: 45px;
  margin-right: 0px;
  margin-bottom: 20px;
}

.content__product-margin {
  margin-top: -180px;
  margin-bottom: 20px;
  overflow: visible;
  min-height: 450px;
}

.content__our-products {
  margin-left: 20px;
}

.content__left-our-products {
  margin-left: 65px;
}

.breadcrumbs {
  padding: 5px 12px;
}