.abs-position {
  position: absolute;
  margin-top: -880px;

}

@media (max-width: 1024px) {
  .abs-position  {
    margin-left: -500px;
  }
}

@media (min-width: 1025px) {
  .abs-position  {
    margin-left: -600px;
  }
}

.menu-left {
  width: 243px;
  background:  url('#{$path}/menu-left-layer-img.png') left bottom no-repeat, url('#{$path}/header-menu-line.png') top center repeat-x, rgba(255,255,255,1) ;
}

.menu-left__header {
  font-family: $font-gilroy-extrabold;
  font-size: 1.2em;
  text-transform: uppercase;
  color: $color-blue-dark;
  text-align: center;
  padding: 10px;
}

.menu-left  .v-list__group {
  width: 243px;
  padding: 0px;
}

.menu-left .v-list__group.menu-left__group:hover {
  background-color: $color-blue;
  color: $color-white;
}

.menu-left .v-list__group__items .v-list__tile:hover {
  background-color: $color-blue-dark;
  color: $color-white;
}

.sub-menu {
  background-color: $color-white;
  padding: 10px;
  border: 3px solid $color-blue-light;
  @include border-radius(0px 0px 10px 10px);
  position: relative;
}

.container.grid-list-xs .layout .flex.price__download {
  padding-top: 37px;
  font-family: $font-gilroy-extrabold;
  font-size: 1.5em;
  text-transform: uppercase;
  color: $color-white;
  line-height: 1.1;
}

.price-wrapper {
  height: 134px;
  display: flex;
  flex-direction: column-reverse;
  background-color: $color-blue-light;
  -webkit-clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
}

.price {
  height: 108px;
  background-color: $color-blue;
  -webkit-clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
}

.price__download--next {
  font-size: 1.4em;
}

.container.grid-list-xs .layout .flex.price__img{
  padding-top: 20px;
}



