@charset "UTF-8";

.application.theme--light.leader {
  background-color: #dcecf7;
  font-family: 'PT Sans', sans-serif;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.eot");
  src: local("Gilroy-ExtraBold"), url("/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.woff") format("woff"), url("/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.ttf") format("truetype"), url("/fonts/Gilroy-ExtraBold/Gilroy-ExtraBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url("/fonts/Gilroy-Light/Gilroy-Light.eot");
  src: local("Gilroy-Light"), url("/fonts/Gilroy-Light/Gilroy-Light.woff") format("woff"), url("/fonts/Gilroy-Light/Gilroy-Light.ttf") format("truetype"), url("/fonts/Gilroy-Light/Gilroy-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Начало Buttons */

.content-button,
.header-menu__auth-btn,
.article--button {
  display: inline-block;
  background: none;
  border: 1px dashed #1e88d7;
  font-size: 0.8em;
  font-weight: bold;
  color: #1e88d7;
  -mox-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
  padding: 4px 8px;
  margin-top: 10px;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Конец Buttons */

.abort {
  min-height: 300px;
}

.theme--light.v-list,
.theme--light .v-list.top-menu {
  background: none;
  color: #ffffff;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.top-menu__item {
  display: inline-block;
  background: url("/images/menu-divider.png") left center no-repeat;
}

.top-menu__item:first-child {
  background: none;
}

.top-menu__item .v-list__tile {
  height: 52px;
  text-transform: uppercase;
  font-size: 0.99em;
}

.top-menu__item .v-list__tile a {
  padding-left: 14px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Gilroy-ExtraBold", sans-serif;
}

header {
  height: 958px;
  background: url("/images/header.jpg") top center no-repeat;
  /*-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 75%);*/
}

.header-menu {
  height: 53px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.header-menu--center {
  background: url("/images/header-menu-line.png") top center repeat-x;
}

.header-menu__auth-btn {
  text-transform: none;
  font-weight: normal;
  font-size: 0.9em;
}

.telephone {
  color: #ffffff;
}

.telephone__number {
  font-size: 2.1em;
  font-family: "Gilroy-ExtraBold", sans-serif;
}

.telephone__link {
  color: #1e88d7;
  text-transform: uppercase;
  font-size: 1.1em;
  text-decoration: none;
  border-bottom: 2px solid #ffbf00;
  font-family: "Gilroy-ExtraBold", sans-serif;
}

.telephone__img {
  display: inline-block;
  vertical-align: middle;
}

.top-20 {
  margin-top: 20px;
}

.left-10 {
  margin-left: 10px;
}

.bottom-20 {
  margin-bottom: 20px;
}

.find-input {
  width: 160px;
  height: 35px;
  color: #ffffff;
  font-size: 0.9em;
  border-radius: 0 4px 4px 0;
  -mox-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  padding: 6px 0 4px 10px;
  border: 1px solid #ffffff;
  background: url("/images/find-input-left.png") left center no-repeat, url("/images/find-icon.png") 95% center no-repeat;
}

.find-input::-webkit-input-placeholder {
  color: #ffffff;
}

.headsite,
.headsite_best-sale,
.about__head {
  color: #29435c;
  padding-top: 10px;
  font-size: 1em;
  background: url("/images/heading.png") top left no-repeat;
}

.headsite span,
.headsite_best-sale span,
.about__head span {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 2.2em;
  text-transform: uppercase;
}

.figure-button,
.button-ask-sale {
  display: inline-block;
  padding: 5px 20px;
  background-color: #1e88d7;
  color: #ffffff;
  font-family: "Gilroy-ExtraBold", sans-serif;
  text-decoration: none;
  height: 31px;
  text-align: center;
  vertical-align: middle;
  -webkit-clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 0%);
  clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  text-transform: uppercase;
}

.figure-button__wrapper {
  display: table;
  background: url("/images/order-btn-circule-layout.png") center center no-repeat;
  height: 60px;
}

.figure-button__wrapper-2 {
  display: table-cell;
  height: 31px;
  text-align: center;
  vertical-align: middle;
}

.button-ask-sale__wrapper {
  display: table;
  height: 60px;
}

.button-ask-sale__wrapper-2 {
  display: table-cell;
  height: 31px;
  text-align: center;
  vertical-align: middle;
}

.button-ask-sale {
  background-color: #ffbf00;
}

.btn-sale {
  margin-right: 10px;
}

[v-cloak] .v-cloak--block {
  display: block;
  background: url("/images/cat-preloader.gif") center center no-repeat, #e19a2e;
  width: 100%;
  height: 1200px;
}

[v-cloak] .v-cloak--hidden {
  display: none;
}

.v-cloak--block {
  display: none;
}

.menu-wrapper {
  position: relative;
}

.menu-left {
  width: 213px;
  background: url("/images/menu-left-layer-img.png") left bottom no-repeat, url("/images/header-menu-line.png") top center repeat-x, white;
}

.menu-left--shadow {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-left__header {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #29435c;
  text-align: center;
  padding: 10px;
}

.theme--light.v-list,
.theme--light .list.menu-left__list {
  background: none;
  padding: 0;
}

.menu-left__list .v-list__tile {
  font-size: 1em;
  color: #29435c;
  text-align: left;
  min-width: 213px;
}

.theme--light .menu-left__list a:hover {
  background-color: #1e88d7;
  color: #ffffff;
}

.menu-left__list--text {
  background: url("/images/footer-list-mark.png") left center no-repeat;
  padding-left: 20px;
}

.menu-left__list--text a {
  text-decoration: none;
  color: #29435c;
  font-size: 1.2em;
}

.menu-left__list .v-list__tile:hover a {
  color: #ffffff;
}

.menu-left__sub__list--text {
  background: url("/images/menu-left-marker.png") left center no-repeat;
  padding-left: 20px;
  max-width: 200px;
}

.menu-left__list--text:hover {
  background: url("/images/menu-left-marker.png") left center no-repeat;
}

.menu-left__sub--light .v-list__tile {
  background-color: #1e88d7;
  color: #ffffff;
}

.menu-left__sub--dark .v-list__tile {
  background-color: #626787;
  color: #ffffff;
}

.menu-left__sub .v-list__tile:hover {
  background-color: #626787;
}

.application .theme--light.v-list,
.theme--light .v-list.menu-left__list.tom {
  background-color: #1e88d7;
}

.menu-left__sub__list--text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1em;
}

.price-wrapper {
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-color: #5daae2;
  -webkit-clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
}

.price {
  height: 108px;
  background-color: #1e88d7;
  -webkit-clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 100%);
}

.container.grid-list-xs .layout .flex.price__download {
  padding-top: 37px;
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.1;
}

.price__download--next {
  font-size: 1.4em;
}

.container.grid-list-xs .layout .flex.price__img {
  padding-top: 20px;
}

.abs-position {
  position: absolute;
  margin-top: -880px;
}

.abs-position-catalog {
  position: absolute;
  margin-top: -840px;
}

.v-menu__activator--active {
  background-color: #1e88d7;
  color: #ffffff;
}

.menu-left__sub--dark .v-list__tile .v-menu__activator--active {
  background-color: #626787;
  color: #ffffff;
}

.content {
  background: url("/images/content-layout.png") bottom center repeat-x, white;
  /*-webkit-clip-path: polygon(0% -10%, 100% 22%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 22%, 100% 100%, 0% 100%);
  margin-top: -205px;
  padding-top: 60px;*/
}

.content-wrapper {
  overflow: visible;
  margin-top: -160px;
}

.content-cart-wrapper {
  overflow: visible;
  margin-top: -70px;
  min-height: 400px;
}

.content-button--margin {
  margin-top: 45px;
  margin-right: 0px;
}

.content__product-margin {
  margin-top: -120px;
  margin-bottom: 20px;
  overflow: visible;
  min-height: 450px;
}

.content__our-products {
  margin-left: 20px;
}

.content__left-our-products {
  margin-left: 65px;
}

.product-wrapper {
  -webkit-filter: drop-shadow(5px 5px 10px #29435c);
          filter: drop-shadow(5px 5px 10px #29435c);
  margin-left: 25px;
  margin-bottom: 30px;
}

.product-wrapper:first-child {
  margin-left: 0px;
}

.product {
  top: 1px;
  left: 1px;
  position: relative;
  width: 215px;
  height: 368px;
  background-color: #ecf6fc;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}

.product-image-wrapper {
  width: 215px;
  height: 200px;
  background-color: #dee7ef;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  display: block;
}

.product-image {
  width: 215px;
  height: 190px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  background: url("/images/product-corner.png") top left no-repeat;
  background-color: rgba(255, 255, 255, 0.9);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.product-image img {
  margin: 0px auto;
}

.product__title {
  padding: 15px 20px 15px 20px;
  text-align: center;
  line-height: 1.2;
  border-bottom: 1px dashed #dee7ef;
  margin-bottom: 10px;
}

.product__title a {
  font-family: "Gilroy-ExtraBold", sans-serif;
  color: #29435c;
  text-decoration: none;
}

.product-price-wrapper {
  color: #29435c;
  font-size: 1.2em;
}

.product-old-price {
  text-decoration: line-through;
}

.product-price {
  font-size: 1.2em;
  color: #1e88d7;
  font-weight: bold;
}

.product__sale {
  background-color: #1e88d7;
  position: absolute;
  width: 130px;
  height: 50px;
  margin-left: 135px;
  margin-top: 10px;
  z-index: 100;
  overflow: visible;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
  font-family: "Gilroy-ExtraBold", sans-serif;
  color: #ffffff;
  font-size: 1.8em;
  text-transform: uppercase;
  line-height: 50px;
}

.product__lable-sale {
  background-color: #1e88d7;
  position: absolute;
  width: 130px;
  height: 50px;
  margin-left: 135px;
  margin-top: 10px;
  z-index: 100;
  overflow: visible;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 10% 100%, 0% 50%);
  font-family: "Gilroy-ExtraBold", sans-serif;
  color: #ffffff;
  font-size: 1.8em;
  text-transform: uppercase;
  line-height: 50px;
}

.product__label--img {
  margin-left: 110px;
  margin-top: 60px;
  position: absolute;
  z-index: 100;
}

.best-sale {
  background: url("/images/best-sale.png") top center repeat;
  height: 500px;
  -webkit-clip-path: polygon(0% 0%, 49% 0%, 50% 5%, 51% 0%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 49% 0%, 50% 5%, 51% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.headsite_best-sale {
  color: #ffffff;
}

.best-sale .wrapper {
  padding-top: 20px;
  background: url("/images/best-sale-line-layout.png") top right repeat-y;
}

.about {
  background-color: #ffbe00;
  height: 460px;
}

.about__content {
  height: inherit;
  background: url("/images/about-layer-img-left.png") left top no-repeat, url("/images/about-layer-img-2.png") right bottom no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.1em;
  line-height: 1.2;
}

.theme--light.v-list,
.theme--light .v-list.about__list {
  background: none;
}

.about__list .v-list__tile {
  text-align: left;
  background: url("/images/footer-list-mark.png") left center no-repeat;
  color: black;
}

.about__telephone {
  color: #ffffff;
  font-size: 1.5em;
  font-family: "Gilroy-ExtraBold", sans-serif;
}

.about__brands {
  color: black;
  padding-top: 10px;
  font-size: 1em;
  background: url("/images/heading.png") top center no-repeat;
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
}

.about__head {
  color: black;
  font-size: 0.9em;
}

.about__social {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: black;
}

.container.grid-list-xs .layout .flex .about__info {
  font-size: 1.1em;
  padding-right: 20px;
}

.about .product-wrapper .product {
  margin: auto;
}

.news {
  background: url("/images/content-layout.png") bottom center repeat-x, white;
  height: 360px;
}

.news__content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.news__number {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 3em;
  color: #ffbf00;
}

.news__date {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 0.5em;
  color: #29435c;
}

.news__link {
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 1.1em;
  color: #29435c;
}

.news__big-image {
  position: relative;
}

.news__big-image img {
  position: absolute;
  margin-top: -80px;
  margin-left: -300px;
}

.container.grid-list-xs .layout .flex .news__block {
  padding-right: 20px;
}

.detail__image--wrapper {
  -webkit-filter: drop-shadow(5px 5px 10px #29435c);
          filter: drop-shadow(5px 5px 10px #29435c);
  display: block;
}

.detail__image {
  width: 313px;
  height: 400px;
  top: 1px;
  left: 1px;
  background: url("/images/product-corner.png") top left no-repeat;
  background-color: #ffffff;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}

.image-wrapper {
  height: 280px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: inherit;
}

.image-wrapper img {
  margin: 0 auto;
}

.detail__image-label {
  position: absolute;
  width: 134px;
  height: 46px;
  background-color: #1e88d7;
  -webkit-clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%, 0% 50%);
  margin-left: 210px;
  margin-top: 20px;
  z-index: 2000;
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 2em;
  color: #ffffff;
  text-transform: uppercase;
}

.detail h1 {
  color: #29435c;
  font-family: "Gilroy-ExtraBold", sans-serif;
  text-transform: uppercase;
  line-height: 1.1;
}

.detail__info {
  color: #29435c;
}

.detail__price {
  font-size: 1.2em;
  line-height: 1.1;
}

.detail__old-price {
  font-size: 0.9em;
  text-decoration: line-through;
  font-weight: bold;
}

.detail__price--current {
  font-size: 3em;
  color: #1e88d7;
  font-family: "Gilroy-ExtraBold", sans-serif;
}

.detail__advanced-info {
  margin-top: 30px;
}

.detail__advanced-info {
  color: #29435c;
}

.detail__advanced-info h2 {
  font-family: "Gilroy-ExtraBold", sans-serif;
  text-transform: uppercase;
}

.detail__characteristics .tabs__container {
  background-color: #29435c;
  color: #ffffff;
  font-family: "Gilroy-ExtraBold", sans-serif;
}

.detail__characteristics .tabs__item {
  color: #ffffff;
}

.detail__characteristics .tabs__item--active {
  background-color: #ffbf00;
}

.detail__padding,
.detail__characteristics-description,
.detail__characteristics-characteristics {
  padding-top: 20px;
  padding-bottom: 20px;
}

.detail__characteristics-description {
  text-align: left;
  min-height: 200px;
}

.detail__characteristics-characteristics {
  text-align: left;
}

@supports (display: grid) {
  /* если браузер поддерживает Гриды */

@media (min-width: 14em) {
    /* если окно браузера больше 14em */

    .detail__characteristics-characteristics dl {
      display: grid;
      grid-template-columns: auto 1fr;
      /* auto определяет ширину первой колонки, которая равна самому широкому элементу <dt> (auto можно заменить на fit-content(10em), если необходимо её ограничить) */
    }

    .detail__characteristics-characteristics dt {
      min-width: 0;
      /* более привычное поведение при переполнении */
    }

    .detail__characteristics-characteristics dd {
      margin: 0 0 0 1em;
      font-weight: bold;
    }
}
}

.detail__characteristics--value {
  padding-left: 20px;
}

.SEO {
  background: url("/images/content-layout.png") bottom center repeat-x, white;
}

.breadcrumbs {
  list-style-type: none;
}

.breadcrumb {
  list-style-type: none;
}

.breadcrumb li {
  background: url("/images/footer-list-mark.png") left center no-repeat;
  padding-left: 20px;
  padding-right: 10px;
  display: inline-block;
}

.breadcrumbs .wrapper li:nth-child(2n) {
  padding-left: 20px;
}

.breadcrumb li:first-child {
  background: none;
  padding-left: 0px;
}

.breadcrumb li.active {
  color: #1e88d7;
}

.breadcrumb li a {
  text-decoration: none;
  color: black;
}

.brands {
  display: inline-block;
  background-color: #ffffff;
  width: 262px;
  height: 198px;
  -webkit-clip-path: polygon(0% 20%, 50% 0%, 100% 20%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 20%, 50% 0%, 100% 20%, 100% 100%, 0% 100%);
}

.brands img {
  margin-top: 40px;
}

.left-banner {
  position: relative;
  width: 210px;
  height: 366px;
  margin-top: 93px;
  background: url("/images/header-menu-line.png") top center repeat-x, url("/images/left-banner.png") center center no-repeat, white;
}

.left-banner__content {
  position: absolute;
  margin-left: -7px;
  margin-top: 30px;
  width: 210px;
  height: 172px;
  -webkit-clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  background: url("/images/left-banner-layout-contetn.png") center center repeat;
  color: #ffffff;
  font-family: "Gilroy-ExtraBold", sans-serif;
  text-transform: uppercase;
  padding-top: 20px;
  padding-left: 10px;
}

.left-banner__content span {
  font-size: 2em;
  line-height: 1.1;
}

.left-banner__content a {
  text-decoration: none;
  border-bottom: 2px solid #ffbf00;
  color: #ffffff;
  margin-top: 20px;
}

.left-banner__content p {
  margin-top: 10px;
}

.left-banner__img-ugl {
  position: absolute;
  margin-left: -113px;
  margin-top: 200px;
  z-index: 100;
}

footer {
  height: 355px;
  background: url("/images/footer-bottom-menu-layout.png") bottom center repeat-x, url("/images/footer-blure-image.png") right 45% top repeat-y, url("/images/footer.png") top left 35% no-repeat, url("/images/footer-layout-img.png") right top repeat, url("/images/footer-layout-left-main-img.png") left top repeat;
}

.footers {
  padding-top: 30px;
  color: #ffffff;
}

.application .theme--light.v-list,
.theme--light .v-list.menu-left__list.tom {
  background: none;
  color: #ffffff;
}

.footer__list .v-list__tile {
  font-size: 0.9em;
  text-align: left;
  background: url("/images/footer-list-mark.png") left center no-repeat;
}

.footer__list .v-list__tile a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1em;
}

.footer__main-site {
  font-size: 0.9em;
  text-transform: uppercase;
  font-family: "Gilroy-ExtraBold", sans-serif;
  line-height: 1.2;
}

.footer__main-site a {
  text-decoration: none;
  color: #ffffff;
}

.footer__main-site a span {
  text-transform: uppercase;
  font-size: 2.3em;
}

.footer__copyright {
  font-size: 1em;
  margin-top: 15px;
}

.footer__links {
  margin-top: -20px;
}

.footer__address {
  max-width: 200px;
  margin: auto;
  font-size: 1.1em;
}

.cart__info {
  color: #ffffff;
}

.cart__gold {
  color: #ffbf00;
  font-weight: bold;
}

.cart {
  display: block;
  padding: 40px;
}

.cart h2 {
  text-align: center;
  color: #29435c;
  font-family: "Gilroy-ExtraBold", sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.cart__content--wrapper {
  -webkit-filter: drop-shadow(5px 5px 10px #29435c);
          filter: drop-shadow(5px 5px 10px #29435c);
}

.cart__content {
  width: 964px;
  margin: auto;
  background-color: #ffffff;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}

.cart-table {
  width: 100%;
  border: 0px solid #29435c;
  border-collapse: collapse;
  text-align: left;
}

.cart-table th {
  background-color: #29435c;
  color: #ffffff;
  height: 30px;
}

.cart-table tr th {
  text-align: center;
}

.cart-table tr td {
  height: 100px;
  border-bottom: 1px solid #ffffff;
  color: #29435c;
  font-size: 0.9em;
  padding: 10px;
}

.cart-table-title {
  font-size: 1.4em;
  font-family: "Gilroy-ExtraBold", sans-serif;
  text-decoration: none;
  color: #29435c;
}

.cart-table-counter {
  width: 70px;
}

.cart-table-price {
  font-size: 1.5em;
  color: #29435c;
  font-family: "Gilroy-ExtraBold", sans-serif;
}

.cart-table-td-price {
  width: 130px;
  text-align: center;
}

.cart-table-rub {
  font-size: 1.2em;
  font-family: "Gilroy-ExtraBold", sans-serif;
}

.cart-table-del {
  margin: auto;
  text-align: center;
}

.cart-table-del a {
  text-decoration: none;
  display: inline-block;
  -mox-border-radius: 10px;
  border-radius: 10px;
  background-color: #29435c;
  color: #ffffff;
  width: 20px;
  height: 20px;
  margin: auto;
  text-align: center;
}

.cart-table-del a img {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  line-height: 30px;
}

.cart-table__total td {
  height: 50px !important;
  background-color: #29435c;
}

.cart-table__total td span {
  color: #ffffff;
  font-family: "Gilroy-ExtraBold", sans-serif;
  font-size: 1.6em;
}

.cart-table__total td span span {
  color: #ffbf00;
  font-size: 0.9em;
}

.cart-order {
  margin-top: 10px;
  margin: 0 auto;
  text-align: center;
}

.cart-order a {
  margin: 20px;
  vertical-align: middle;
  text-align: center;
  line-height: 34px;
  text-transform: uppercase;
  padding: 0px 10px;
  background-color: #29435c;
  width: 138px;
  height: 34px;
  text-decoration: none;
  display: inline-block;
  -mox-border-radius: 20px;
  border-radius: 20px;
  color: white;
  font-size: 0.9em;
}

.cart-img {
  display: inherit;
  margin: auto;
}

.detail-counter {
  background-color: white;
  -mox-border-radius: 15px;
  border-radius: 15px;
  height: 24px;
  line-height: 20px;
  text-align: center;
  border: 1px solid lightgrey;
}

.detail-counter__left {
  display: block;
  width: 22%;
  height: inherit;
  line-height: inherit;
  border-right: 1px solid lightgrey;
  float: left;
}

.detail-counter__center {
  display: block;
  width: 50%;
  height: inherit;
  float: left;
  line-height: inherit;
  vertical-align: middle;
}

.detail-counter__right {
  display: block;
  width: 22%;
  height: inherit;
  line-height: inherit;
  float: right;
  border-left: 1px solid lightgrey;
}

#baskets .cart-col {
  margin-left: 0px;
}

#baskets .div-plus,
#baskets .div-minus {
  right: 6px;
}

#baskets table thead {
  border-radius: 12px;
}

#baskets table thead,
form div.content-right-order table thead {
  background-color: #29435c;
  color: white;
}

#baskets table thead tr {
  line-height: 45px;
  height: 45px;
  padding: 0;
}

#baskets table tbody tr {
  border-bottom: 1px solid #29435c;
  vertical-align: middle;
}

#baskets table tbody tr td {
  position: relative;
  text-align: center;
  border: 0px;
}

#baskets table tbody tr td:nth-child(2) {
  text-align: left;
}

#baskets table tbody tr td:nth-child(2) span,
form div.content-right-order table tbody tr td:nth-child(2) span {
  color: #aaa;
  font-size: 9pt;
}

#baskets table tbody tr td:nth-child(6) img {
  cursor: hand;
  cursor: pointer;
}

#baskets table tfoot tr,
form div.content-right-order table tfoot tr {
  background-color: #29435c;
  line-height: 45px;
  height: 45px;
}

#baskets table tfoot tr td,
form div.content-right-order table tfoot tr td {
  font-weight: bold;
  font-size: 13pt;
  color: white;
}

.callback_close {
  background: rgba(0, 0, 0, 0) url("/images/close.png") no-repeat scroll 0 0;
  cursor: pointer;
  height: 22px;
  position: absolute;
  right: -34px;
  top: 5px;
  width: 22px;
  z-index: 2147483647;
}

.cart-submit {
  background-color: #29435c;
  border: 2px solid #29435c;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 600;
  height: 35px;
  width: 125px;
  padding: 10px;
}

.cart-header {
  background-color: #29435c;
  color: black;
}

.cart-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.application .theme--light.card,
.theme--light .article--card {
  min-height: 200px;
  padding: 40px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 99% 50%, 100% 55%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 45%, 99% 50%, 100% 55%, 100% 100%, 0% 100%);
  -mox-border-radius: 0px 13px 13px 0px;
  border-radius: 0px 13px 13px 0px;
  background: url("/images/article-block-line.png") left top repeat-y, white;
}

.article--card__wrapper {
  -webkit-filter: drop-shadow(5px 5px 10px #29435c);
          filter: drop-shadow(5px 5px 10px #29435c);
}

.articles {
  background: url("/images/content-layout.png") bottom center repeat-x, white;
  padding-top: 20px;
}

.articles__content {
  font-size: 1.1em;
  border-bottom: 1px dashed #5daae2;
}

.articles__content a {
  text-decoration: none;
  font-size: 1.1em;
  color: #29435c;
}

.article--button {
  color: #29435c;
  border-color: #5daae2;
}

.article__content {
  font-size: 1.1em;
}

.form-input-text {
  height: 35px;
  color: #0F2E5D;
  font-size: 0.9em;
  -mox-border-radius: 8px;
  border-radius: 8px;
  padding: 6px 0 4px 10px;
  width: 100%;
  border: 1px solid #cecece;
  background: #FFFFFF;
}

.form-input-text::-webkit-input-placeholder {
  color: #4C4C4C;
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.form-input-text:-moz-placeholder {
  color: #4C4C4C;
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.form-input-text::-moz-placeholder {
  color: #4C4C4C;
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.form-input-text:-ms-input-placeholder {
  color: #4C4C4C;
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.form-input-text:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form-input-text:focus:-moz-placeholder {
  opacity: 0;
}

.form-input-text:focus::-moz-placeholder {
  opacity: 0;
}

.form-input-text:focus:-ms-input-placeholder {
  opacity: 0;
}

.form-input-textarea {
  overflow: auto;
  resize: none;
  height: 150px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #cecece;
  -mox-border-radius: 8px;
  border-radius: 8px;
  padding: 8px 0 8px 10px;
  font-size: 0.8em;
}

.form-input-textarea::-webkit-input-placeholder {
  color: #0F2E5D;
  font-size: 1.2em;
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.form-input-textarea:-moz-placeholder {
  color: #0F2E5D;
  font-size: 1.2em;
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.form-input-textarea::-moz-placeholder {
  color: #0F2E5D;
  font-size: 1.2em;
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.form-input-textarea:-ms-input-placeholder {
  color: #0F2E5D;
  font-size: 1.2em;
  opacity: 1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.form-input-textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form-input-textarea:focus:-moz-placeholder {
  opacity: 0;
}

.form-input-textarea:focus::-moz-placeholder {
  opacity: 0;
}

.form-input-textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

.form-input-checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}

.form-input-checkbox + label {
  cursor: pointer;
}

.form-input-checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}

.form-input-checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
}

.form-input-checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

.form-input-checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form-input-checkbox:checked + label:before {
  background: #494949;
}

.form-input-checkbox:checked + label:after {
  left: 26px;
}

.form-input-radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}

.form-input-radio + label {
  cursor: pointer;
}

.form-input-radio:not(checked) {
  position: absolute;
  opacity: 0;
}

.form-input-radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}

.form-input-radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}

.form-input-radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #494949;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.form-input-radio:checked + label:after {
  opacity: 1;
}

.form-input-select select {
  border-radius: 0;
  background: transparent;
  height: 34px;
  padding: 5px;
  border: 0;
  font-size: 16px;
  line-height: 1;
  -webkit-appearance: none;
  width: 268px;
}

.form-input-select {
  border: 1px solid #cecece;
  background-position: 98% 50%;
  -mox-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 30px;
  line-height: 40px;
  width: 550px;
  height: 40px;
  font-size: 1.1em;
}

.form-input-select > option {
  background-color: transparent;
  border: 0;
  padding-right: 15px;
  height: 31px;
  width: 220px;
}

.form-input-select > option:nth-child(1) {
  background-color: #4C4C4C;
}

.form-input-select > select {
  width: 100%;
  color: black;
  font-size: 0.9em;
  color: #494949;
  font-family: sans-serif;
  background: transparent;
  border: 0;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-error {
  color: red;
  font-size: 0.8em;
}

